<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="WP Media" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<description>The custom ruleset for WP Media projects</description>

	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->

	<!-- ** WHAT TO SCAN ** -->

	<file>.</file>
	<!-- Ignoring Files and Folders: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->
	<exclude-pattern>/Tests/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>

	<!-- ** HOW TO SCAN ** -->

	<arg value="sp"/><!-- Show sniff and progress -->
	<arg name="colors"/><!-- Show results with colors -->
	<arg name="parallel" value="50"/><!-- Enables parallel processing when available for faster results. -->
	<arg name="extensions" value="php"/><!-- Limit to PHP files -->

	<!-- Rules: Check PHP version compatibility - see https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="5.6-"/>
	<config name="minimum_supported_wp_version" value="4.9"/>

	<rule ref="WordPress">
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

        <!-- Code Review: Disable formatting issues. -->

        <exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning"/>
        <exclude name="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsed"/>
        <exclude name="Generic.WhiteSpace.ScopeIndent.Incorrect"/>
        <exclude name="Generic.Files.EndFileNewline.NotFound"/>
        <exclude name="Generic.Classes.OpeningBraceSameLine.SpaceBeforeBrace"/>
        <exclude name="Generic.Functions.FunctionCallArgumentSpacing.NoSpaceAfterComma"/>
        <exclude name="Generic.Functions.OpeningFunctionBraceKernighanRitchie.SpaceBeforeBrace"/>

        <exclude name="PSR2.Namespaces.NamespaceDeclaration.BlankLineAfter"/>

        <exclude name="Squiz.WhiteSpace.SuperfluousWhitespace.EndLine"/>
        <exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterCloseParenthesis"/>
		<exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterKeyword"/>
        <exclude name="Squiz.Strings.ConcatenationSpacing.PaddingFound"/>

        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceBeforeCloseBracket"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceAfterOpenBracket"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.EmptyLine"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.Indent"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.OpeningIndent"/>

		<exclude name="WordPress.WhiteSpace.DisallowInlineTabs.NonIndentTabsUsed"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeStructureOpen"/>
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterStructureOpen"/>
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeCloseParenthesis"/>
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterCloseParenthesis"/>
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeOpenParenthesis"/>
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterOpenParenthesis"/>
		<exclude name="WordPress.WhiteSpace.OperatorSpacing.SpacingAfter"/>
		<exclude name="WordPress.WhiteSpace.PrecisionAlignment.Found"/>
		<exclude name="WordPress.Arrays.CommaAfterArrayItem.NoComma"/>
		<exclude name="WordPress.Arrays.CommaAfterArrayItem.NoSpaceAfterComma"/>
		<exclude name="WordPress.Arrays.ArrayDeclarationSpacing.NoSpaceBeforeArrayCloser"/>
		<exclude name="WordPress.Arrays.ArrayDeclarationSpacing.NoSpaceAfterArrayOpener"/>
		<exclude name="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned"/>

        <!-- Code Review: exclude naming issues. -->
		<exclude name="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase"/>

	</rule>
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="nabil-crawler" />
        </properties>
    </rule>
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array" value="NABIL_CRAWLER, NabilCrawlerProject, nbl_, nabilcrawler_, crawlerNabil" />
        </properties>
    </rule>
    <rule ref="WordPress.Files.FileName">
        <properties>
            <property name="strict_class_file_names" value="false" />
        </properties>
    </rule>
	<rule ref="WordPress-Docs">
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<exclude name="Squiz.Commenting.ClassComment.Missing"/>

		<!-- Code Review: Disable comment issues. -->
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment"/>
		<exclude name="Generic.Commenting.DocComment.SpacingAfter"/>
		<exclude name="Squiz.Commenting.InlineComment.NoSpaceBefore"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="Squiz.Commenting.InlineComment.WrongStyle"/>
		<exclude name="Squiz.Commenting.FileComment.WrongStyle"/>
		<exclude name="Squiz.Commenting.FunctionComment.WrongStyle"/>
		<exclude name="Squiz.Commenting.FunctionComment.Missing"/>

	</rule>

	<!-- Rules: WordPress Coding Standards - see
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards
		WordPress-Extra includes WordPress-Core -->
	<rule ref="WordPress-Extra">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.PHP.DisallowShortTernary.Found"/>
	</rule>

	<!-- Enforce short array syntax: `[]` in place of `array()`. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax" />
</ruleset>
